#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./background.jpg);
    background-repeat: repeat;
    background-size: 20em;
    opacity: 20%;

    z-index: -1;
}
#warehouse {
    width: 20em;
    height: auto;
}
.z-index-100 {
    z-index: 100;
}
.h-fit {
    height: fit-content;
}
html{
    min-height: 100%;
    position: relative;
}
main{
    margin-bottom: 100px;
}
#filterForm{
    max-width: 30em;
    width: 100%;
}
.w-10em{
    width: 6em;
}
.delete-button{
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.delete-button:hover{
    transform: scale(1.5);
}